/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.Toggle{
    justify-content:center;
    display:flex;
    align-items:center;
    margin:0% auto;
}

.map-container {
    width: 70%;
    height: 70vh;
}

.state {
    width: 20%;
}

.title-font {
    font-family: 'Bruno Ace SC', cursive;
}

.white-title {
    color: white !important;
}

.lower-font {
    font-family: 'Righteous', cursive;
}