/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.Toggle{
    justify-content:center;
    display:flex;
    align-items:center;
    margin:0% auto;
}

.map-container {
    width: 70%;
    height: 70vh;
    margin-left: 15%;
}